/arhive/tree_model/cmake-build-debug/
/TestControls/.idea/
/TestControls/cmake-build-debug/
/profile_manager/cmake-build-debug/
/profile_manager/singleapplication/cmake-build-debug/
/plugins/TestPlugin/cmake-build-debug/
/plugins/bankstatementsplugun/cmake-build-debug/
/controls/.idea/
/controls/cmake-build-debug/
/cmake-build-debug/
/.idea/
/query_builder/cmake-build-debug/
/server/x64/
/server/cmake-build-debug/
/TestSql/x64/
/TestSql/cmake-build-debug/
/server/qt/project/build-wssrv-Desktop_Qt_6_5_2_MSVC2019_64bit-Debug/
/server/qt/project/wssrv/build/Desktop_Qt_6_7_0_MSVC2019_64bit-Debug/
