/tree_model/cmake-build-debug/
/TestControls/.idea/
/TestControls/cmake-build-debug/
/profile_manager/cmake-build-debug/
/profile_manager/singleapplication/cmake-build-debug/
/plugins/TestPlugin/cmake-build-debug/
/plugins/bankstatementsplugun/cmake-build-debug/
/controls/.idea/
/controls/cmake-build-debug/
/cmake-build-debug/
/.idea/
/query_builder/cmake-build-debug/
